<p-toolbar  [style]="{'background-color': '#000' }">
    <div class="p-toolbar-group-start">
        <img src="assets/edacy-white.png" class="w-34" alt="">
    </div>
    <div class="p-toolbar-group-center">
<!--         <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span> -->
    </div>
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-home" class="mr-2"/>
        <p-button icon="pi pi-chart-bar" class="mr-2"/>
    </div>
</p-toolbar>
<p-button label="Submit" />