<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <div *ngFor="let product of products$ | async as products">
    <p-card [header]="product.name">
      <ng-template pTemplate="header">
        <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-48 object-cover">
      </ng-template>
      <p>{{product.price | currency }}</p>
      <p class="text-gray-600">
        {{ product.description }}
      </p>
      <ng-template pTemplate="footer">
        <p-button label="View Details"
                  icon="pi pi-search"
                  styleClass="w-full"
                  [routerLink]="['/details', product.id]">
        </p-button>
      </ng-template>
    </p-card>
  </div>